<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <h2><a href="/"> our wonderful app</a></h2>
      <nav>
        <a href="/login">log in</a>
      </nav>
    </header>
    <main>
      <form>
        <h3>welcome to log in page</h3>
        <fieldset>
          <legend>Log in</legend>
          <label for="username"><small>username</small></label>
          <input type="text" id="username" name="username" autocomplete="off" />

          <label for="password"><small>Password</small></label>
          <input
            type="password"
            id="password"
            name="password"
            autocomplete="off"
          />
          <br />
          <button>log in</button>
        </fieldset>

        <footer>our app</footer>
      </form>
    </main>
  </body>
</html>
