<html>
  <head>
    <title>EJS Test</title>
  </head>
  <body>
    <h1>Welcome, <%= username %>!</h1>
    <ul>
      <% items.forEach(item => { %>
      <li><%= item %></li>
      <% }); %>
    </ul>
  </body>
</html>
